<div class="scrollable">
    <div class="scrollable-content">
            
        <div class="list-group">
            
                    
            <div class="list-group-item media">
                <div class="alert alert-danger" ng-show="false">系统提醒：59秒后，红包将自动发放给2楼。但你可以在 5-18 16:29 前，更改红包发放决定。</div>
                <div class="pull-left">
                    <!--i class="fa fa-user chat-user-avatar"></i-->
                    <img src="{{posterOwner.headimgurl}}" width="50" height="50">
                    <!--img src="/static/mauiwww/icons/logo-120.png" width="40" height="40"-->
                    <p></p>
                    <p align="center">1楼</p>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        {{poster.subject}}<br>
                        <!--{{poster.create_timestamp| date : 'yyyy-MM-dd HH:mm:ss' }}-->
                        <small><!--a>匿名用户</a--><a>{{posterOwner.nickname}}</a>&emsp;{{timeDiff(poster.create_timestamp)}}</small>
                    </h4>
                    <p>
                        <span class="label label-info">榜主</span>
                        <span class="label label-danger" ng-show="true">红包{{poster.tip.tip_amount}}元</span>
                        <span class="label label-default" ng-show="false">红包{{poster.tip.tip_amount}}元已发放</span>
                    </p>
                    <p>{{poster.body}}</p>
                    <p ng-show="false">
                        <a>管理红包发放</a><br>
                    </p>
                    <div class="alert alert-info" ng-show="false">
                        系统公告：红包于5-18 16:29发放，<a>闵一明</a>16.00元，<a>苏快手</a>4.00元<br>
                    </div>
                </div>
            </div>
            <div class="list-group-item media" ui-turn-on="proposal" ng-show="isCurrentUserThePosterOwner">
                <div class="pull-right">
                    <img src="/static/mauiwww/icons/btn-ido-180.png" width="120" height="108">
                </div>
                <div class="media-body" align="center">
                        <p>
                            <br>
                            帮TA达成心愿<br>
                            现金红包实时到帐<br>
                            <a>红包玩法</a>
                        
                        </p>
                    
                </div>
            </div>
        </div> <!--list-group-->
        
        <div class="list-group">    
            <div class="list-group-item media" ui-turn-on="view_proposal" ng-click="floorSeclected($index)"  ng-repeat="floor in floors">
                <div class="pull-left">
                    <!--i class="fa fa-user chat-user-avatar"></i-->
                    <img src="{{floorOwnerCashe[floor.user].headimgurl}}" width="50" height="50">
                    <p></p>
                    <p align="center">{{floor.floor.floorNumber + 1}}楼</p>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <!--{{timeDiff(poster.create_timestamp)}}-->
                        <small><a>{{floorOwnerCashe[floor.user].nickname}}</a>&emsp;{{floor.floor.update_timestamp| date : 'M-d H:mm' }}</small>
                    </h4>
                    <p>
                        <span class="label label-info">应召英雄</span>
                    </p>
                    <p>
                        这是我的解决方案！<a>查看</a><br>
                    </p>
                    <div class="alert alert-danger" ng-show="false">系统提醒：你打开解决方案一个小时后，红包将自动发放给解决方案提供者。但你可以在一个小时内，更改红包发放决定。</div>
                </div>
            </div>
        </div> <!--list-group-->
        
        
        <div class="list-group" ng-show="flase">    
            <div class="list-group-item media" ui-turn-on="view_proposal">
                <div class="pull-left">
                    <i class="fa fa-user chat-user-avatar"></i>
                    <p></p>
                    <p align="center">2楼</p>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <!--{{timeDiff(poster.create_timestamp)}}-->
                        <small><a>闵一明</a>&emsp;{{poster.create_timestamp| date : 'M-d H:mm' }}</small>
                    </h4>
                    <p>
                        <span class="label label-info">应召英雄</span>
                        <span class="label label-default" ng-show="false">方案待验证</span>
                        <span class="label label-danger">赢得红包16元</span>
                    </p>
                    <p>
                        这是我的解决方案！<a ng-show="false">管理红包发放</a><a ng-show="true">查看</a><br>
                    </p>
                    
                    <div class="panel panel-default">
                        <div class="panel-body">
                             <a>白润发：</a>收到，给我一个小时哈
                        </div>
                     </div>
                </div>
            </div>
        </div> <!--list-group-->
    </div>
</div>


<div ui-content-for="modals">
    
    <!--div ng-include='/static/mauiwww/templates/poster_proposal.html'></div-->
    <div class="modal modal-overlay" ui-if='proposal' ui-state='proposal' ng-controller="ProposeCtrl">
        <div class="section">
            <button class="close"
                        ui-turn-off="proposal">&times;</button>
            <p></p>
                
            <fieldset>
                <legend>我要揭榜</legend>
                  <div class="form-group">
                    <textarea class="form-control" ng-model="solution"
                              placeholder="解决方案，10-300字"></textarea>
                  </div>
            </fieldset>
            
            <div class="form-group">
                <p align="center">点击下面的“提交”按钮，即表示你同意<a href="#">《用户协议》</a></p>
                <p>  
                    <button ui-turn-off="proposal" ng-click="propose()" class="btn btn-block btn-primary">提交</button>
                </p>
                <p>  
                    <button ui-turn-off="proposal" class="btn btn-block btn-default">取消</button>
                </p>
            </div>
        </div>
    </div>
    
    
    
    <!--div ng-include='/static/mauiwww/templates/poster_proposal.html'></div-->
    <div class="modal modal-overlay" ui-if='view_proposal' ui-state='view_proposal'>
        <div class="section">
            <p>
                <button class="close"
                            ui-turn-off="view_proposal">&times;</button>
            </p>
            
            <legend>解决方案</legend>
            
            <div class="media">
                <div class="pull-left">
                    <i class="fa fa-user chat-user-avatar"></i>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <small>
                            <a>{{floors[floorIndexSeclected].author.name}}</a>&emsp;{{floors[floorIndexSeclected].floorNumber}}楼<br>
                            {{floors[floorIndexSeclected].submitDate| date : 'M-d H:mm' }}
                        </small>
                    </h4>
                </div>
            </div>
            
            
            <fieldset>
                <hr>
                <p>{{floors[floorIndexSeclected].floor.actionContent}}</p>
                <hr>
            </fieldset>
            
            <ui-state id="activeSeagment"></ui-state>
            
            <div class="form-group">
                <label>这是你要的解决方案吗？</label>
                <div class="btn-group justified nav-tabs">
                    <a ui-set="{'activeSeagment': '1'}" 
                        ui-class="{'active': activeSeagment == 1}" class="btn btn-default">帮我解决问题了</a>
            
                    <a ui-set="{'activeSeagment': 2}" 
                        ui-class="{'active': activeSeagment == 2}" class="btn btn-default">待验证</a>
            
                    <a ui-set="{'activeSeagment': 3}" 
                        ui-class="{'active': activeSeagment == 3}" class="btn btn-default">没有帮助</a>
                    
                </div>
            </div>
            
            <div class="form-group" ui-if="activeSeagment == 1">
                <p align="center"></p>
                <p>  
                    <button ui-turn-off="view_proposal" class="btn btn-block btn-primary">立即放发红包</button>
                </p>
            </div>
            
            <div class="form-group" ui-if="activeSeagment == 2">
                <p align="center"></p>
                <p>  
                    <button ui-turn-off="view_proposal" class="btn btn-block btn-primary">给我一个小时</button>
                </p>
                <p>  
                    <button ui-turn-off="view_proposal" class="btn btn-block btn-default">给我一天时间</button>
                </p>
                <p>  
                    <button ui-turn-off="view_proposal" class="btn btn-block btn-default">给我三天时间</button>
                </p>
            </div>
            
            <div class="form-group" ui-if="activeSeagment == 3">
                <div class="form-group">
                    <textarea class="form-control"
                        placeholder="拒绝理由，10-300字"></textarea>
                </div>
                <p>  
                    <button ui-turn-off="view_proposal" class="btn btn-block btn-primary">拒绝发放红包给Ta</button>
                </p>
            </div>
            
        </div>
    </div>
</div>