<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href="/www/lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="/www/css/style.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="/www/lib/ionic/js/ionic.bundle.min.js"></script>

    <!-- your app's js -->
    <script src="/www/js/app.js"></script>
    <script src="/www/js/controllers.js"></script>
    
    <script src="/www/js/services/dateUtil.js"></script>
    <script src="/www/js/services/userContextSrv.js"></script>
    <script src="/www/js/services/resourceSrv.js"></script>
    
    <script type="text/javascript" src="/js/dependencies/sails.io.js"></script>
    
    <base href="/">
    
    <div id='wx_pic' style='margin:0 auto;display:none;'>
      <img src='/www/img/pic300.jpg' />
    </div>
    
  </head>
  <body ng-app="app" ng-controller="AppMainCtrl" 
    ng-init="initUsercontext('<%=currentNode.id%>', '<%=currentNode.poster%>', '<%=currentNode.id%>')">
    <ion-nav-view></ion-nav-view>
  </body>
</html>
