<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>


    <link href="/www/lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="/www/css/style.css" rel="stylesheet">
    <!-- ionic/angularjs js -->
    <script src="/www/lib/ionic/js/ionic.bundle.min.js"></script>

    <!-- your app's js -->
    <script src="/www/js/app.js"></script>
    
    <script src="/www/js/services/dateUtil.js"></script>
    <script src="/www/js/services/userContextSrv.js"></script>
    <script src="/www/js/services/resourceSrv.js"></script>
    
    <script src="/www/js/controller/AppMainController.js"></script>
    <script src="/www/js/controller/HomeController.js"></script>
    <script src="/www/js/controller/EditController.js"></script>
    <script src="/www/js/controller/MessagesController.js"></script>
    <script src="/www/js/controller/PersonalController.js"></script>
    <script src="/www/js/controller/FriendsController.js"></script>
    

    
    <script type="text/javascript" src="/js/dependencies/sails.io.js"></script>

    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    
    <base href="/">

  </head>

 <body ng-app="app" ng-controller="AppMainCtrl" ng-init="initialize('<%=currentNode.id%>', '<%=currentNode.poster%>', '<%=currentNode.owner%>')">
  <ion-nav-view></ion-nav-view>
 </body>

</html>
