<ion-view view-title="">

  <ion-content>
    <div class="list">
      <div class="item item-avatar">
        <img src="{{poster.createdByUserObj.headimgurl}}">
        <h2>{{poster.createdByUserObj.nickname}}</h2>
        <p>
          {{poster.createdAt | date : 'M-d H:mm' }}&nbsp;
          发布悬赏
        </p>
      </div>
    </div>
  </ion-content>

  <ion-footer-bar class="bar bar-footer bar-dark">
    <a class="button button-clear button-primary" href="{{posterMainPath}}">
      &nbsp;&nbsp;取消&nbsp;&nbsp;
    </a>
    <h1 class="title"></h1>
  </ion-footer-bar>

</ion-view>

