<ion-view view-title="">
    <ion-content>
      <ion-refresher on-refresh="refresh()">
      </ion-refresher>
      <div class="list card">
        <div class="item item-avatar">
          <img src="{{poster.createdByUserObj.headimgurl}}">
          <h2 ng-show="!poster.commited">悬赏{{poster.tipAmount}}元：{{poster.subject}}</h2>
          <h2 ng-show="poster.commited">悬赏{{poster.tipAmount}}元(已解决)：{{poster.subject}}</h2>
          <p>
            楼主&nbsp;
            {{poster.createdByUserObj.nickname}}&nbsp;
            {{poster.createdAt | date : 'M-d H:mm' }}
            <!--{{timeDiff(poster.create_timestamp)}}-->
          </p>
        </div>

        <div class="item item-body">
          <p>
            {{poster.body}}
          </p>
          <!--img class="full-image" src="/www/img/beauty.jpg"-->
        </div>

        <div class="item tabs tabs-secondary tabs-icon-left">

          <a class="tab-item" ng-click="viewTips()" ng-show="poster.commited">
            <i class="icon ion-ios-eye-outline"></i>
            红包分配结果
          </a>
          <a class="tab-item"  ng-click="proposeBtnClick()" ng-show="!poster.commited && !poster.ownerIsCurrentUser">
            <i class="icon ion-ios-color-wand-outline"></i>
            我来解决
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-ios-chatbubble-outline"></i>
            留言
          </a>
          <a class="tab-item" ng-click="shareModal.show()" href="#">
            <i class="icon ion-ios-upload-outline"></i>
            转发有礼
          </a>
        </div>

      </div><!--list card-->
      
      <div class="list card" ng-repeat="floor in poster.proposalObjs">

        <div class="item item-avatar" >
          <img src="{{floor.createdByUserObj.headimgurl}}">
          <h2>解决方案</h2>
          <p>
            {{poster.proposalObjs.length + 1 - $index}}楼&nbsp;
            {{floor.createdByUserObj.nickname}}&nbsp;
            {{floor.updatedAt| date : 'M-d H:mm' }}
            <!--<br>{{floor.createdBy}}-->
          </p>
        </div>

        <a class="item item-body" ng-show="floor.contentVisable">
          <!--img class="full-image" src="http://ionicframework.com/img/docs/delorean.jpg"-->
          <p >
            {{floor.content}}
          </p>
          <p ng-show="false"> 
            隐藏内容，请打开后查看。
          </p>
          <p ng-show="false">
            隐藏内容，榜主已经打开查看。
          </p>
          <p ng-show="false">
            隐藏内容，榜主还没有打开查看。
          </p>
        </a>

        <div class="item tabs tabs-secondary tabs-icon-left">
          <!--a class="tab-item" href="{{posterMainPath}}/linkpath/proposal/{{floor.proposal}}" ng-click="commit(floor.proposal)" ng-show="floor.actionPermits.commit">
            <i class="icon ion-ios-nutrition-outline"></i>
            采纳
          </a-->
          <a class="tab-item" ng-click="tipsCalc(floor.proposal)" ng-show="poster.ownerIsCurrentUser && !poster.commited">
            <i class="icon ion-ios-nutrition-outline"></i>
            采纳
          </a>
          <a class="tab-item" ng-click="tipsCalc(floor.proposal)" ng-show="!poster.commited" >
            <i class="icon ion-ios-infinite-outline"></i>
            关系链
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-ios-chatbubble-outline"></i>
            悄悄话
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-ios-arrow-up"></i>
            回到顶部
          </a>
        </div>
      </div>
    </ion-content>
  <ion-footer-bar class="bar">
    <div class="tabs tabs-icon-top">
      <a class="tab-item">
        <i class="icon ion-home"></i>
        首页
      </a>
      <a class="tab-item">
        <i class="icon ion-plus-circled" ng-click="editBtnClick()"></i>
        悬赏
      </a>      
      <a class="tab-item">
        <i class="icon ion-chatboxes"></i>
        信息
      </a>
      <a class="tab-item">
        <i class="icon ion-person-stalker" ng-click="memberBtnClick()"></i>
        朋友
      </a>
      <a class="tab-item">
        <i class="icon ion-grid"></i>
        更多
      </a>
    </div>
    <!--button class="button button-clear icon-left ion-ios-color-wand-outline button-positive"><small>&nbsp我要揭榜</small></button>
    <button class="button button-clear icon-right ion-ios-more-outline button-positive"><small>更多&nbsp</small></button-->
  </ion-footer-bar>
</ion-view>

