<ion-modal-view>

  <ion-header-bar class="bar bar-header bar-light">
    <h1 class="title">解决方案</h1>
  </ion-header-bar>

  <ion-content>
    <div class="list">
      <label class="item item-input text">
        <textarea placeholder="解决方案，10-300字" 
          rows="5" ng-model="$root.solution" ng-Required="true" lose-focus-on-return>
        </textarea>
      </label>

      <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#">
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-image"></i>
            上传图片
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-paperclip"></i>
            上传附件
          </a>
      </div>

      <div class="padding">
        <p align="center">提交，即表示你同意<a href="#">《用户协议》</a></p>
        <button class="button button-block button-stable" ng-click="propose()">提交</button>
      </div>

    </div>
  </ion-content>

  <ion-footer-bar class="bar bar-footer bar-dark">
    <button class="button button-clear button-primary" ng-click="modal.hide()">
      &nbsp;&nbsp;取消&nbsp;&nbsp;
    </button>
    <h1 class="title"></h1>
    <button class="button button-clear button-primary" ng-click="propose()">
      &nbsp;&nbsp;提交&nbsp;&nbsp;
    </button>
  </ion-footer-bar>

</ion-modal-view>