<ion-view view-title="">

  <ion-content>
    <div class="list">
      <div class="item item-avatar">
        <img src="{{poster.createdByUserObj.headimgurl}}">
        <h2>{{poster.createdByUserObj.nickname}}&nbsp;
          <i class="icon ion-ios-star"></i><i class="icon ion-ios-star"></i><i class="icon ion-ios-star"></i><i class="icon ion-ios-star-outline"></i><i class="ion-ios-star-outline"></i>
        </h2>
        <p>
          {{poster.createdAt | date : 'M-d H:mm' }}&nbsp;
          发布悬赏&nbsp;
          {{poster.tipAmount}}元
        </p>
      </div>
      <div class="item item-avatar"  ng-repeat="tip in tips">
        <img src="{{tip.userObj.headimgurl}}">
        <h2>{{tip.userObj.nickname}}&nbsp;
          <i class="icon ion-ios-star"></i><i class="icon ion-ios-star"></i><i class="icon ion-ios-star"></i><i class="icon ion-ios-star-outline"></i><i class="ion-ios-star-outline"></i>
        </h2>
        <p>

          {{tip.actionTime | date : 'M-d H:mm' }}&nbsp;
          {{tip.actionLabel}}<br>（采纳后，将得到红包&nbsp;{{tip.amount}}元）
        </p>
      </div>
    </div> <!--list-->
  </ion-content>

  <ion-footer-bar class="bar bar-footer" >
    <a class="button button-clear button-primary" ng-click="commit()" ng-show="poster.ownerIsCurrentUser">
      &nbsp;&nbsp;采纳&nbsp;&nbsp;
    </a>
  </ion-footer-bar>

</ion-view>

