<ion-view view-title="tab-friends">

  <ion-header-bar class="bar bar-header bar-light">
    <h1 class="title">热心朋友</h1>
  </ion-header-bar>


  <ion-content>
      <div class="list" ng-repeat="floor in poster.users">
        <a class="item item-avatar" ng-click="userEntryClick($index)">
          <img src="{{floor.headimgurl}}">
          <h2>{{floor.nickname}}&nbsp;</h2>
        </a>
      </div>
  </ion-content>


  <ion-footer-bar class="bar bar-footer bar-dark">
    <button class="button button-clear button-primary" ng-click="memberModal.hide()">
      &nbsp;&nbsp;返回&nbsp;&nbsp;
    </button>
  </ion-footer-bar>

</ion-view>
