
<ion-tabs class="tabs-icon-top">
 
 
 <!-- Dashboard Tab -->
 <ion-tab title="首页" icon="icon ion-home" href="/tab/home">
 <ion-nav-view name="tab-home"></ion-nav-view>
 </ion-tab>
 
 
 <!-- Edit Tab -->
 <ion-tab title="悬赏" icon="icon ion-plus-circled" href="#/tab/edit">
 <ion-nav-view name="tab-edit"></ion-nav-view>
 </ion-tab>
 
 <!-- Messages Tab -->
 <ion-tab title="消息" icon="icon ion-chatboxes" href="#/tab/messages">
 <ion-nav-view name="tab-messages"></ion-nav-view>
 </ion-tab>
 
 <!-- Freinds Tab -->
 <ion-tab title="朋友" icon="icon ion-person-stalker" href="#/tab/friends">
 <ion-nav-view name="tab-friends"></ion-nav-view>
 </ion-tab>

 <!-- Personal Tab -->
 <ion-tab title="个人" icon="icon ion-grid" href="#/tab/personal">
 <ion-nav-view name="tab-personal"></ion-nav-view>
 </ion-tab>
 
 
</ion-tabs>