<ion-view view-title="">


  <ion-content>
        <div class="item item-avatar">
          <img src="{{displayUser.headimgurl}}">
          <h2>{{displayUser.nickname}}</h2>
        </div>


    <div class="list list-inset">

        <div class="item">
          微信号：  {{displayUser.openid}}
        </div>

        <div class="item">
          性别：  {{displayUser.sex}}
        </div>  

        <div class="item">
          注册地：  {{displayUser.country + " " + displayUser.prinvince + " " + displayUser.city}}
        </div>

        <div class="item">
          创建时间：{{displayUser.createdAt| date : 'y-M-d H:mm'}}
        </div>
  </div>
  
  <div class="button-bar">
    <a class="button icon-center ion-chatbox button-full button-calm" href="{{absUrl}}#/tab/friends/user/{{displayUser.id}}/chat"">  发消息</a>
  </div>

  </ion-content>

</ion-view>